[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-runner = "*"
twine = "*"
sphinx = "*"
coverage = "*"
tox = "*"
pylint = "*"
bumpversion = "*"

[packages]
pysnooper = "*"

[requires]
python_version = "3.7"
